/*variables*/
* {
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #F3F3F3;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.fa-arrow-left {
  padding: 20px;
}

.ohmyfood {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  font-size: 160%;
  margin: 10px 0 10px 0;
  color: black;
}
.ohmyfood__footer {
  color: white;
  font-family: "Shrikhand", cursive;
  padding-top: 20px;
}

.main_title {
  font-family: "Shrikhand", cursive;
}
.main_title__restaurant {
  font-size: 20px;
  padding-left: 15px;
}

.photo_title {
  flex-direction: column;
  width: 100%;
}

.photo {
  object-fit: cover;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 300px;
}

.restaurant_name {
  width: 100%;
  background-color: #F3F3F3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0 15px 0;
  position: absolute;
  z-index: 2;
  top: 300px;
  border-radius: 30px 30px 0 0;
  margin: 0;
}

.coeur {
  padding-right: 40px;
  font-size: 20px;
}

.coeur .color {
  display: none;
  color: #99E2D0;
}

.coeur:hover .color {
  display: inline;
  animation: button-heart 1s ease;
  animation-fill-mode: forwards;
}

/*animation coeur*/
@keyframes button-heart {
  50% {
    color: #FF79DA;
  }
  100% {
    color: #9656DC;
    text-shadow: -2px 0 #FF79DA, 0 2px #FF79DA, 2px 0 #FF79DA, 0px -2px #FF79DA;
  }
}
.coeur:hover .empty {
  display: none;
}

.groupe_plat {
  background-color: #F3F3F3;
  padding-bottom: 25px;
  opacity: 0;
}
.groupe_plat__premier {
  margin-top: 308px;
}

/*animation apparition des plats successifs*/
.groupe_plat__premier {
  animation: fadein 1s linear;
  animation-delay: 0s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.groupe_plat__deuxieme {
  animation: fadein 1s linear;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.groupe_plat__troisieme {
  animation: fadein 1s linear;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.type_plat {
  padding: 0 0 5px 15px;
}

.trait_vert {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 0 0 10px 15px;
}

.bloc_plat {
  display: flex;
  flex-direction: row;
  width: 88%;
  margin: 3%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0 #E3E3E3;
}

/*Animation icone check au survol du plat*/
.plat {
  margin: 10px;
  margin-right: 20px;
  min-width: 100px;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s;
}
.plat:hover + .anim.anim > .bloc_logo {
  transform: scaleX(1);
  transform-origin: right;
}
.plat:hover + .anim.anim > .bloc_logo.bloc_logo > .fa-circle-check {
  animation: rotation 1s;
}
.plat:hover + .anim.anim > .bloc_prix {
  transform: translate(-40px, 0);
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nom_plat {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prix {
  color: #434343;
}

.bloc_prix {
  display: flex;
  align-self: flex-end;
  padding: 30px 20px 10px 10px;
  position: relative;
  left: 40px;
  cursor: pointer;
  transition: transform 0.5s;
}

.anim:hover:hover > .bloc_logo {
  transform: scaleX(1);
  transform-origin: right;
}
.anim:hover:hover > .bloc_logo.bloc_logo > .fa-circle-check {
  animation: rotation 1s;
}
.anim:hover:hover > .bloc_prix {
  transform: translate(-40px, 0);
  transition: transform 0.5s;
}

.bloc_logo {
  border-radius: 0 10px 10px 0;
  background-color: #99E2D0;
  color: white;
  padding: 18px;
  transform: scale(0);
  transition: transform 0.5s;
  cursor: pointer;
}

.anim {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  background-color: #F3F3F3;
  padding: 20px 0 70px 0;
}

.purple_button {
  background: #9656DC;
  background: linear-gradient(344deg, #9656DC 0%, #FF79DA 100%);
  padding: 15px;
  border-radius: 30px;
  color: #F3F3F3;
  font-weight: 400;
  border: none;
  line-height: 1;
  letter-spacing: 0px;
  box-shadow: 3px 3px 10px 0 #aaa9a9;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.purple_button__commander {
  width: 150px;
}

.purple_button:hover {
  background: linear-gradient(344deg, #FF79DA 0%, #9656DC 100%);
  transform: scale(1.05);
}

.fa-utensils {
  color: white;
  margin-right: 10px;
  font-size: 13px;
}

.fa-handshake-angle {
  color: white;
  margin-right: 5px;
  font-size: 13px;
}

.footer_link {
  background-color: #434343;
  padding: 20px;
}

.footer_clic {
  color: white;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

/*# sourceMappingURL=menu.css.map */
