/*variables*/
$main_font: 'Roboto', sans-serif;
$title_font:'Shrikhand', cursive;
$very_strong_grey:#434343;
$strong_grey:#aaa9a9;
$grey:#E3E3E3;
$light_grey:#F3F3F3;
$purple:#9656DC;
$pink:#FF79DA;
$green:#99E2D0;


*{
font-family: $title_font;    
font-family:$main_font;
scroll-behavior: smooth;
}

body{
    margin:0;
}
p{
    margin:0;
}
a{
    text-decoration: none;
}
.loader{
    position:absolute;
    z-index: 3;
    width:100%;
    height:100%;
    background-color: $grey;
    display:flex;
    justify-content: center;
    align-items: center;
    animation:disparaitre 0.1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
/*animation disparition du loader*/
@keyframes disparaitre {
    0%{
        opacity:1;
        z-index:3;
    }
    100%{
        opacity:0;
        z-index:0;
    }
}
.barre{
    background-color:$pink;
    width: 50px;
    height: 50px;
    margin:20px; 
    border-radius: 30px;
    animation: flash 1.2s linear infinite;
}
/*animation remplissages des différents ronds loader*/
@keyframes flash{
    0%{
        background-color: $purple;
    }
    90%{
        background-color: $pink;
        box-shadow: none;
    }
    100%{
        background-color: $purple;
        box-shadow: 0 0 7px $purple;
        
    }
}
.barre:nth-child(1) {
    animation-delay: 0.1s;
}
.barre:nth-child(2) {
    animation-delay: 0.2s;
}
.barre:nth-child(3) {
    animation-delay: 0.3s;
}
.barre:nth-child(4) {
    animation-delay: 0.4s;
}
.barre:nth-child(5) {
    animation-delay: 0.5s;
}
.fondu-out{
    opacity:0;
    position:absolute;
    z-index:0;
    transition: all 0.4s ease-out;
}
.ohmyfood{
    text-align: center ;
    position:relative;
    z-index: 1;
    width:100%;
    font-size: 160%;
    margin:10px 0 10px 0;
    color:black;
            &__footer{
            color:white;
            font-family: $title_font;
            padding-top:20px;
        }
}
.main_title{
    font-family: $title_font;
    
}
.dégradé{
    background: linear-gradient($strong_grey,10%, $grey);
    height:5px;
    width:100%;
}

.location{
    display:flex;  
    justify-content: center;
    width:100%;
    background-color: $grey;
    color:$very_strong_grey;
}
.fa-map-marker-alt{
    align-content: center;
    padding:13px 10px 0 0;
}
#location_text{
    align-content: center;
    font-family: $main_font;
    font-weight: bold;
    font-size: large;
    z-index: 1;
    color:$very_strong_grey;
    margin: 10px 0 15px 0;
    text-decoration: none;
    border:none;
    background-color: $grey;
    width:130px;
}
.reservation{
    display:flex;
    flex-direction: column;
    background-color: $light_grey;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
}
.reservez{
    width:75%;
    font-weight: 1000;
    text-align: center;
    font-size: 22px;
}
.decouvrez{
    text-align: center;
    width:80%;
    
}
.purple_button{
    background: $purple;
    z-index: 1;
    background: linear-gradient(344deg, $purple 0%, $pink 100%);
    padding: 15px;
    border-radius: 30px;
    color: $light_grey;
    font-weight: 400;
    border:none;
    line-height: 1;
    letter-spacing: 0px;
    box-shadow: 3px 3px 10px 0 $strong_grey;
    
        &:hover{
            background: linear-gradient(344deg, $pink 0%, $purple 100%);
            box-shadow: 5px 5px 10px 0 $strong_grey;
        }

}
.fonctionnement{
    display:flex;
    flex-direction: column;
    width:100%;
}
.titre{
    font-weight: 700;
    font-size: 22px;
    padding: 40px 0 30px 8%;
}

.fonct{
    display: flex;
    flex-direction: row;
    width:70%;
    background-color: $light_grey;
    padding: 30px 20px 20px 22px;
    margin:0px 2% 5% 10%;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 0 $strong_grey;
    font-weight:bold;
    transform:scale(1);
    transition: all 0.5s;
    &:hover{
        background-color: #ffd5f3;
        transform:scale(1.05);
        & .logo{
            color:$purple;
        }
    }
        
}
 
.purple_circle{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: $purple;
    color:white;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position:relative;
    bottom:5px;
    right:40px;
}
.logo{
    position:relative;
    right: 20px;
    bottom: 5px;
    font-size: 22px;
    color:$very_strong_grey;
}
.card{
    text-decoration:none;
    color:black;
}
.restaurants{
    background-color: $light_grey;
    margin-top:40px;
    padding-bottom: 30px;
}

.grande_card{
    display:flex;
    height:220px;
    width:85%;
    margin:0 7% 5% 7%;
    border-radius: 20px; 
    box-shadow: 1px 1px 10px $grey;
    background-color: white;
}
  
.grande_photo {
    object-fit: cover;
    position:absolute;
    z-index: 1;
    width:85%;
    border-radius: 20px 20px 0px 0px;
    height:150px;
}
.nouveau{
    position:absolute;
    z-index:2;
    left:65%;
    margin: 10px 15px 0 0;
    background-color: #99E2D0;
    color:#3C8E5E;
    padding:5px 12px 5px 12px;
    width:fit-content;
    font-weight: bold;
    border-radius: 3px;
    font-size:14px;
}
.legende{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    width:auto;
    line-height:1.5;
    width:85%;
    padding: 0px 15px 10px 20px;
}
.coeur{
    padding:15px;
    font-size: 20px;
}

.coeur .color{
    display:none;
    color:$green;
}
.coeur:hover .color{
    display:inline;
    animation: button-heart 1s ease;
    animation-fill-mode: forwards;
} 
/*animation coeur*/
@keyframes button-heart {
    50%{
        color:$pink;
    }
    100% {
      color: $purple;
      text-shadow: -2px 0 $pink, 0 2px $pink, 2px 0 $pink, 0px -2px $pink;
      
    }
  }
.coeur:hover .empty{
    display:none;
}
.footer_link{
    background-color: $very_strong_grey;
    padding: 40px;
}
.footer_clic{
    text-decoration: none;
    color:white;
    line-height: 1.5;
}
ul{
    list-style: none;
    padding: 0;
}
.fa-utensils{
    color:white;
    margin-right: 10px;
    font-size: 13px;
    
}
.fa-handshake-angle{
    color:white;
    margin-right: 5px;
    font-size: 13px;
}
/*redimentionnement de la page pour grands ecrans*/
@media screen and (min-width:992px) {
.titre{
    padding-left: 60px;
}
.all_card{
    display:flex;
    flex-wrap: wrap;
    width:100%;
}
.grande_card{
    width:80%;
}
.grande_photo{
    width:40%;
}
.card{
    min-width:50%;
}

.nouveau{
    left:32%;
}
.nouveau_droite{
        left:82%;
    }



}