$main_font: 'Roboto', sans-serif;
$title_font:'Shrikhand', cursive;
$very_strong_grey:#434343;
$strong_grey:#aaa9a9;
$grey:#E3E3E3;
$light_grey:#F3F3F3;
$purple:#9656DC;
$pink:#FF79DA;
$green:#99E2D0;


*{
font-family: $title_font;    
font-family:$main_font;
}

body{
    margin:0;
}
p{
    margin:0;
}
.ohmyfood{
    text-align: center ;
    width:100%;
    font-size: 160%;
    margin:10px 0 10px 0;
        &__footer{
            color:white;
            font-family: $title_font;
            padding-top:20px;
        }
}
.main_title{
    font-family: $title_font;
}
.dégradé{
    background: linear-gradient($strong_grey,10%, $grey);
    height:5px;
    width:100%;
}
.location{
    display:flex;  
    justify-content: center;
    width:100%;
    background-color: $grey;
    color:$very_strong_grey;
}
.fa-map-marker-alt{
    align-content: center;
    padding:10px 10px 0 0;
}
.location_text{
    font-family: $main_font;
    font-weight: bold;
    margin: 10px 0 15px 0;
}
.reservation{
    display:flex;
    flex-direction: column;
    background-color: $light_grey;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
}
.reservez{
    width:75%;
    font-weight: 1000;
    text-align: center;
    font-size: 22px;
}
.decouvrez{
    text-align: center;
    width:80%;
    
}
.purple_button{
    background: $purple;
    background: linear-gradient(344deg, $purple 0%, $pink 100%);
    padding: 15px;
    border-radius: 30px;
    color: $light_grey;
    font-weight: 400;
    border:none;
    line-height: 1;
    letter-spacing: 0px;
    box-shadow: 3px 3px 10px 0 $strong_grey;

}
.purple_button:hover{
    background: linear-gradient(344deg, $pink 0%, $purple 100%);
}
.fonctionnement{
    display:flex;
    flex-direction: column;
    width:100%;
}
.titre{
    font-weight: 700;
    font-size: 22px;
    padding: 40px 0 30px 20px;
}

.fonct{
    display: flex;
    flex-direction: row;
    width:70%;
    background-color: $light_grey;
    padding: 30px 20px 20px 22px;
    margin:0px 2% 5% 10%;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 0 $strong_grey;
    font-weight:bold;
        &.fonct__purple{
            background-color: #EBE2F5;
        }
}
.purple_circle{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: $purple;
    color:white;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position:relative;
    bottom:5px;
    right:40px;
}
.logo{
    position:relative;
    right: 20px;
    bottom: 5px;
    font-size: 22px;
    color:$very_strong_grey;
        &.logo__purple{
            color:$purple;
        }
}
.card{
    text-decoration:none;
    color:black;
}
.restaurants{
    background-color: $light_grey;
    margin-top:40px;
    padding-bottom: 30px;
}

.grande_card{
    display:flex;
    height:220px;
    width:85%;
    margin:0 7% 5% 7%;
    border-radius: 20px; 
    box-shadow: 1px 1px 10px $grey;
    background-color: white;
}
  
.grande_photo {
    object-fit: cover;
    position:absolute;
    z-index: 1;
    width:85%;
    border-radius: 20px 20px 0px 0px;
    height:150px;
}
.nouveau{
    position:absolute;
    z-index:2;
    left:65%;
    margin: 10px 15px 0 0;
    background-color: #99E2D0;
    color:#3C8E5E;
    padding:5px 12px 5px 12px;
    width:fit-content;
    font-weight: bold;
    border-radius: 3px;
    font-size:14px;
}
.legende{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    width:auto;
    line-height:1.5;
    width:85%;
    padding: 0px 15px 10px 20px;
}
.coeur{
    padding:15px;
    font-size: 20px;
}

.coeur .color{
    display:none;
    
}
.coeur:hover .color{
    display:inline;
    animation: button-heart 2s ease;
    animation-fill-mode: forwards;
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
} 
.coeur:hover .empty{
    display:none;
}
.footer_link{
    background-color: $very_strong_grey;
    padding: 20px;
}
.footer_clic{
    text-decoration: none;
    color:white;
    line-height: 1.5;
}
ul{
    list-style: none;
    padding: 0;
}
